<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <!-- <script src="src/quizes/quizes.js" defer></script> -->
  <script src="src/quizes/service/QuestionsService.js" defer></script>
  <script src="src/quizes/service/QuizesService.js"defer></script>
  <script src="src/quizes/service/AnswerServices.js" defer></script>
  <script src="src/quizes/component/quizesComponent.js" defer></script>
  <script src="src/quizes/component/questionComponent.js" defer></script>
  <script src="src/quizes/component/answerComponent.js" defer></script>
  <script src="/src/quizes/component/quizesListComponent.js" defer></script>
  <script src="src/answers/AnswersService.js" defer></script>
  <script src="src/answers/answers.js" defer></script>

  <script src="src/index.js" defer></script>

</head>
<header>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">{{apptCtrl.title}}</a>
      <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- <ul class="navbar-nav">
          <li class="nav-item" ng-repeat="page in apptCtrl.pages">
            <a class="nav-link" ng-mode="apptCtrl.page.name" ng-click=" apptCtrl.goToPage(page.name) ">{{apptCtrl.page.label}}</a>
          </li>
        </ul> -->
        <div class="navbar-nav">
          <a class="nav-link" ng-mode="apptCtrl.currentPage" ng-click="apptCtrl.changePage(0)" href="#">Teacher</a>
          <a class="nav-link" ng-mode="apptCtrl.currentPage"  ng-click="apptCtrl.changePage(1)" href="#">Student</a>
          <a class="nav-link" ng-mode="apptCtrl.currentPage"  ng-click="apptCtrl.changePage(2)" href="#">Results</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<body ng-controller="ApptCtrl">
  <div class="container">
  <div ng-include="apptCtrl.currentPage.tpl"></div>
  </div>
</body>

</html>

</html>