<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">{{apptCtrl.title}}</a>
      <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-link" ng-mode="apptCtrl.currentPage" ng-click="apptCtrl.changePage(0)" href="#">Teacher</a>
          <a class="nav-link" ng-mode="apptCtrl.currentPage"  ng-click="apptCtrl.changePage(1)" href="#">Student</a>
          <a class="nav-link" ng-mode="apptCtrl.currentPage"  ng-click="apptCtrl.changePage(2)" href="#">Results</a>
        </div>
      </div>
    </div>
  </nav>