<div ng-if="$ctrl.modeAnswer === 'show'">
    <h5>Answers in question {{$ctrl.selectedQuestion.name}}</h5>

    <dl>
        <dd div class="list-group-item d-flex justify-content-between align-items-center"
            ng-repeat="answer in $ctrl.answers" ng-click="$ctrl.selectAnswer(answer)"
            ng-class="{'active': $ctrl.selectedAnswerTemp.id === answer.id }">
            {{answer.answer}} - {{answer.correct}}<button ng-click="$ctrl.editAnswer(answer)">Edit </button>
        </dd>
    </dl>
    <button ng-click="$ctrl.addNewAnswer()">Add new Answer</button>
    <button ng-click="$ctrl.showQuestionList()">Show questions list</button>
    <button ng-click="$ctrl.showQuizList()">Show quiz list</button>

</div>
<div ng-if="$ctrl.modeAnswer === 'edit'">
    <h5>Create / Change answer</h5>
    <div class="form-group mb-3">
        <label for="answer_answer">Answer</label>
        <input id="answer_answer" type="text" class="form-control" ng-model='$ctrl.selectedAnswerTemp.answer'>
        <label for="checkbox">Is the answer correct</label>
        <input type="checkbox" ng-model="$ctrl.selectedAnswerTemp.correct"> 
    <div>
        <button ng-click='$ctrl.saveAnswer()'>Save</button>
        <button ng-click='$ctrl.deleteAnswer()'>Delete</button>
        <button ng-click='$ctrl.cancelEditAnswer()'>Cancel</button>
    </div>
</div>
<!-- <pre> {{$ctrl|json}} </pre> -->