<div ng-if="$ctrl.modeQuestion === 'show'">
    <h5>Questions in quiz {{$ctrl.selectedQuiz.name}}</h5>
    <dl>

        <dd div class="list-group-item d-flex justify-content-between align-items-center"
            ng-repeat="question in $ctrl.questionsTemp" ng-click="$ctrl.selectQuestion(question)"
            ng-class="{'active': $ctrl.selectedQuestionTemp.id === question.id }">
            {{question.name}} <button ng-click="$ctrl.editQuestion(question)">Edit </button>
        </dd>
    </dl>
    <button ng-click="$ctrl.addNewQuestion()">Add new question</button>
    <button ng-click="$ctrl.showQuizList()">Show quiz list</button>
</div>
<div ng-if="$ctrl.modeQuestion === 'edit'">
    <h5>Create / Change question</h5>
    <div class="form-group mb-3"><label for="question_name">Question</label>
        <input id="question_name" type="text" class="form-control" ng-model='$ctrl.selectedQuestionTemp.name'>
    </div>
    <div>
        <button ng-click='$ctrl.saveQuestion()'>Save</button>
        <button ng-click='$ctrl.deleteQuestion()'>Delete</button>
        <button ng-click='$ctrl.cancelEditQuestion()'>Cancel</button>
    </div>
</div>
