<div class="row">
    <div class="col" ng-if="$ctrl.modeQuizList !== ''">
        <quizes-list quizes="$ctrl.quizes" mode-quiz-list="$ctrl.modeQuizList" selected-quiz="$ctrl.selectedQuiz"
            on-select="$ctrl.selectQuiz($event)" on-save="$ctrl.saveQuiz($event)" on-delete="$ctrl.deleteQuiz($event)"
            on-cancel="$ctrl.cancelQuiz()">
        </quizes-list>
    </div>
    <div class="col" ng-if="$ctrl.modeQuestion !== ''">
        <quiz-questions selected-quiz=" $ctrl.selectedQuiz" mode-question="$ctrl.modeQuestion"
            on-select="$ctrl.select($event)" mode-quiz-list="$ctrl.modeQuizList"
            selected-question="$ctrl.selectedQuestion" mode-answer="$ctrl.modeAnswer">
        </quiz-questions>
    </div>
    <div class="col" ng-if="$ctrl.modeAnswer !== ''">
        <quiz-answer selected-question=" $ctrl.selectedQuestion" mode-question="$ctrl.modeQuestion"
            on-select="$ctrl.select($event)" mode-quiz-list="$ctrl.modeQuizList" mode-answer="$ctrl.modeAnswer">
        </quiz-answer>
    </div>
</div>