<!-- <div ng-if=$ctrl.pageView === 'quizesList'> -->

<div ng-if="$ctrl.modeQuizList === 'show'">
    <h5>Quiz List</h5>
    <dl>
        <dd class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="quiz in $ctrl.quizes"
            ng-click="$ctrl.onSelect({$event:quiz})" ng-class="{'active': $ctrl.selectedQuiz.id === quiz.id}">
            {{quiz.id}} {{quiz.name}} <button ng-click="$ctrl.edit(quiz)">Edit quiz</button>
        </dd>
    </dl>
    <button ng-click="$ctrl.creatNew()">Create new quiz</button>
</div>

<div class="col" ng-if="$ctrl.selected && $ctrl.mode == 'show'">
    <h5>Quiz details</h5>
    <dl>
        <dt>Name</dt>
        <dd>{{$ctrl.selectedQuiz.name}}</dd>
    </dl>

</div>
<div ng-if="$ctrl.modeQuizList == 'edit'">
    <h5 ng-if="$ctrl.formMode == 'edit'">Actualy quiz name: {{$ctrl.selectedQuiz.name}}</h5>
    <h5 ng-if="$ctrl.formMode == 'new'">You create new quiz</h5>
    <div class="form-group mb-3"><label for="quiz_name"> New quiz name</label>
        <input id="quiz_name" type="text" class="form-control" ng-model='$ctrl.selectedQuizTemp.name'>
    </div>
    <div>
        <button ng-click="$ctrl.onSave({$event:$ctrl.selectedQuizTemp})">Save</button>
        <button ng-click="$ctrl.onDelete({$event:$ctrl.selectedQuizTemp})">Delete</button>
        <button ng-click="$ctrl.onCancel()">Cancel</button>
    </div>

</div>
<!-- <pre> {{$ctrl|json}} </pre>  -->